<section>
   <!-- <div>
    <label
      ><input type="checkbox" (change)="updateFilter('paid', $event)" />
      Paid</label
    >
    <label
      ><input type="checkbox" (change)="updateFilter('pending', $event)" />
      Pending</label
    >
    <label
      ><input type="checkbox" (change)="updateFilter('draft', $event)" />
      Draft</label
    >
  </div> -->

  <div class="invoice-list">
    @for(invoice of invoices$ | async; track invoice){
    <app-invoice-card
      routerLink="/invoice-detail/{{ invoice.id }}"
      [invoice]="invoice"
    />
    }
  </div>
</section>
<!-- <button (click)="createNewInvoice()">Create invoice</button>

<section>
  <app-invoice-form />
</section> -->
