@import '../../../styles.sass'
    
.main-pannel
    padding: 0
    background: $panel-bg

    .logo
        img 
            height:50px

    .theme-and-profile
        padding: 0
    

    .toggle-theme-container, .profile
        display: flex
        align-items: center
        justify-content: center
        padding: .5rem
        padding-inline: 1rem

    .toggle-theme-container
        border-right: 1px solid $bg-accent
        
    .profile
        .profile-image
            width: 35px
            height: 35px
            border-radius: 50%
            overflow: hidden